body {
    background: url('../images/login_bg.jpg') no-repeat ;
    background-size: cover;
}
.log {
    padding: 20px 0 0 40px;
}
.login {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login img{
    display: block;
    margin: 20px auto;
}
.login .bottom {
    padding: 0 30px;
}
.login .left {
    text-align: right;
}
.login .layui-input {
    padding-left: 30px;
}
.login .layui-form-item {
    position: relative;
}
.login .layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}
